
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";


.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post {
  margin: 25px;
  padding: 0 0 0 0;
}

body {
  background-color: white;
}

.panel * {
  border-radius: 0;
}